services:
  app:
    build: .
    env_file:
      - .env
    container_name: testovoeApp
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/testovoe

  db:
    image: postgres:15
    container_name: psql_db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      # pg_isready проверяет, принимает ли база подключения
      test: ["CMD-SHELL", "pg_isready -U $$DATABASE_USER -d $$DATABASE_NAME"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  pgdata: